<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lh.dao.NoticeMapper">
  <resultMap id="BaseResultMap" type="com.lh.pojo.Notice">
    <id column="notice_id" jdbcType="INTEGER" property="noticeId" />
    <result column="notice_title" jdbcType="VARCHAR" property="noticeTitle" />
    <result column="notice_time" jdbcType="TIMESTAMP" property="noticeTime" />
    <result column="notice_state" jdbcType="INTEGER" property="noticeState" />
    <result column="notice_person" jdbcType="VARCHAR" property="noticePerson" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.lh.pojo.Notice">
    <result column="notice_details" jdbcType="LONGVARCHAR" property="noticeDetails" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    notice_id, notice_title, notice_time, notice_state
  </sql>
  <sql id="Blob_Column_List">
    notice_details
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.lh.pojo.NoticeExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from notice
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.lh.pojo.NoticeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from notice
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from notice
    where notice_id = #{noticeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from notice
    where notice_id = #{noticeId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lh.pojo.NoticeExample">
    delete from notice
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lh.pojo.Notice">
    insert into notice (notice_id, notice_title, notice_time, 
      notice_state, notice_details,notice_person)
    values (#{noticeId,jdbcType=INTEGER}, #{noticeTitle,jdbcType=VARCHAR}, #{noticeTime,jdbcType=TIMESTAMP}, 
      #{noticeState,jdbcType=INTEGER}, #{noticeDetails,jdbcType=LONGVARCHAR}, #{noticePerson,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lh.pojo.Notice">
    insert into notice
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="noticeId != null">
        notice_id,
      </if>
      <if test="noticeTitle != null">
        notice_title,
      </if>
      <if test="noticeTime != null">
        notice_time,
      </if>
      <if test="noticeState != null">
        notice_state,
      </if>
      <if test="noticeDetails != null">
        notice_details,
      </if>
      <if test="noticePerson != null">
        notice_person,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="noticeId != null">
        #{noticeId,jdbcType=INTEGER},
      </if>
      <if test="noticeTitle != null">
        #{noticeTitle,jdbcType=VARCHAR},
      </if>
      <if test="noticeTime != null">
        #{noticeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="noticeState != null">
        #{noticeState,jdbcType=INTEGER},
      </if>
      <if test="noticeDetails != null">
        #{noticeDetails,jdbcType=LONGVARCHAR},
      </if>
      <if test="noticePerson != null">
        #{noticePerson,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lh.pojo.NoticeExample" resultType="java.lang.Long">
    select count(*) from notice
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update notice
    <set>
      <if test="record.noticeId != null">
        notice_id = #{record.noticeId,jdbcType=INTEGER},
      </if>
      <if test="record.noticeTitle != null">
        notice_title = #{record.noticeTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.noticeTime != null">
        notice_time = #{record.noticeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.noticeState != null">
        notice_state = #{record.noticeState,jdbcType=INTEGER},
      </if>
      <if test="record.noticeDetails != null">
        notice_details = #{record.noticeDetails,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.noticePerson != null">
        notice_person = #{record.noticePerson,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update notice
    set notice_id = #{record.noticeId,jdbcType=INTEGER},
      notice_title = #{record.noticeTitle,jdbcType=VARCHAR},
      notice_time = #{record.noticeTime,jdbcType=TIMESTAMP},
      notice_state = #{record.noticeState,jdbcType=INTEGER},
      notice_details = #{record.noticeDetails,jdbcType=LONGVARCHAR},
      notice_person = #{record.noticePerson,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update notice
    set notice_id = #{record.noticeId,jdbcType=INTEGER},
      notice_title = #{record.noticeTitle,jdbcType=VARCHAR},
      notice_time = #{record.noticeTime,jdbcType=TIMESTAMP},
      notice_state = #{record.noticeState,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lh.pojo.Notice">
    update notice
    <set>
      <if test="noticeTitle != null">
        notice_title = #{noticeTitle,jdbcType=VARCHAR},
      </if>
      <if test="noticeTime != null">
        notice_time = #{noticeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="noticeState != null">
        notice_state = #{noticeState,jdbcType=INTEGER},
      </if>
      <if test="noticeDetails != null">
        notice_details = #{noticeDetails,jdbcType=LONGVARCHAR},
      </if>
      <if test="noticePerson != null">
        notice_person = #{noticePerson,jdbcType=VARCHAR},
      </if>
    </set>
    where notice_id = #{noticeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.lh.pojo.Notice">
    update notice
    set notice_title = #{noticeTitle,jdbcType=VARCHAR},
      notice_time = #{noticeTime,jdbcType=TIMESTAMP},
      notice_state = #{noticeState,jdbcType=INTEGER},
      notice_details = #{noticeDetails,jdbcType=LONGVARCHAR},
      notice_person = #{noticePerson,jdbcType=VARCHAR}
    where notice_id = #{noticeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lh.pojo.Notice">
    update notice
    set notice_title = #{noticeTitle,jdbcType=VARCHAR},
      notice_time = #{noticeTime,jdbcType=TIMESTAMP},
      notice_state = #{noticeState,jdbcType=INTEGER},
      notice_person = #{noticePerson,jdbcType=VARCHAR}
    where notice_id = #{noticeId,jdbcType=INTEGER}

  </update>

  <!-- list集合 -->
  <select id="list" parameterType="Map" resultMap="ResultMapWithBLOBs">
    select * from notice
    order by notice_time DESC
    <if test="start!=null and size!=null">
      limit #{start},#{size}
    </if>
  </select>

  <!-- getTotal -->
  <select id="getTotal" parameterType="Map" resultType="Long">
    select count(*) from notice
  </select>

  <select id="getAll"  resultMap="ResultMapWithBLOBs">
    select * from notice
    ORDER BY notice_time DESC
  </select>
  <select id="listF" parameterType="Map" resultMap="ResultMapWithBLOBs">
    select * from notice
    <where>
      <if test="q!=null and q!=''">
        and (notice_title like #{q}  or notice_details like #{q})
      </if>

    </where>
    order by notice_time DESC
    <if test="start!=null and size!=null">
      limit #{start},#{size}
    </if>
  </select>

  <select id="getTotalF" parameterType="Map" resultType="Integer">
    select
    count(*) from notice
    <where>
      <if test="q!=null and q!=''">
        and (notice_title like #{q}  or notice_details like #{q})
      </if>

    </where>
  </select>
</mapper>